packages/
TestResults/
Selenium.sln.DotSettings.user
Kinopoisk/bin/
Kinopoisk/obj/
Selenium/bin/
Selenium/obj/
SpecflowKinopoisk/bin/
SpecflowKinopoisk/obj/
SpecflowKinopoisk/dashboard.html
SpecflowKinopoisk/exception.html
SpecflowKinopoisk/index.html